  $blue_1: #1CB5E0;
  $blue_2: #050b45;
  $blue_3: #000851cc;

  $red_1: #e50914;

  $white_1: #ffffff;
  $white_2: #cccccc;
  $white_3: #e9ecef;

  $black_1: #000000;
  $black_2: #00000066;
  $black_3: #f1f1f100;
  $black_4: #111111;