header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 3rem;
  min-height: 50px;
  color: #fff;
  background: rgba(0, 8, 81, 0.8);
  border: 1px solid transparent;
  border-radius: 0;

  .input-group {
    float: right;
    width: 200px;
    margin: 0.7rem 0 0;

    @media (max-width: 720px) {
      width: 150px;
    }

    input {
      height: 25px;
      font-size: 0.8rem;
    }

    .bi {
      color: #fff;
    }

    .search-link {
      color: #111111;
      text-decoration: none;
    }
  }

  nav {
    position: relative;
    float: right;
    margin: 0.5rem 1rem 0;

    a {
      display: inline-block;
      margin: 0 0.2rem 0;

      &.nav-starred {
        position: relative;
      }

      &.nav-fav {
        position: relative;
        font-size: 0.8rem;
        color: #ccc;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  i {
    margin: 0.5rem;
    font-size: 1.2rem;
    color: #fff;
    vertical-align: middle;

    &:hover {
      color: #fff;
    }

    +.star-number {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 24px;
      left: -8px;
      width: 20px;
      height: 20px;
      font-size: 0.65rem;
      font-weight: 600;
      color: #fff;
      background: red;
      border-radius: 50%;
    }

    &.bi-film {
      float: left;
      margin-left: 1.5rem;
      font-size: 1.3rem;
      color: #e9ecef;
    }

    &.bi-star-fill {
      color: #e50914;
      animation: blink-red .4s;

      &.bi-star-fill-white {
        color: #fff;
      }
    }

    &.bi-heart-fill {
      color: #1CB5E0;
      animation: blink-blue .4s;

      &.bi-heart-fill-white {
        color: #fff;
      }
    }

    @keyframes blink-red {
      50% {
        color: red;
      }
    }

    @keyframes blink-blue {
      50% {
        color: #1CB5E0;
      }
    }
  }

  .selected {
    i {
      color: #fff;
    }
  }

}

.watch-later-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.65rem;
  font-weight: 600;
  background-color: #1CB5E0;
  color: #fff;
}